body {
  background: #191d24;
}

.ui.secondary.pointing.menu {
  background: #121212;
  border-bottom: 1px solid #bd9d5e;
}

.ui.secondary.pointing.menu .header.item {
  color: #bd9d5e !important;
}

#autochamp-label span {
  color: #d8cfbd;
}

#autochamp-label::before {
  background: #121212 !important;
  border: 2px solid #bd9d5e;
}

.ui.toggle.checkbox.checked #autochamp-label::before {
  background: #191d24 !important;
  border: 2px solid #00acb1;
}

#autochamp-label::after {
  background: #d8cfbd !important;
}

div.ui.icon.input input {
  background: #121212;
  color: #d8cfbd;
}

input::selection {
  background: #00acb1;
  color: #d8cfbd;
}

.ui.search.fluid.champion .prompt {
  border: 2px solid #bd9d5e;
}

.ui.search.fluid.champion.focus .prompt {
  border: 2px solid #00acb1;
}

.search.icon {
  color: #d8cfbd !important;
}

.results {
  border: 1px solid #bd9d5e !important;
}

.results .result {
  background: #121212;
}

.results .result.active {
  background: #191d24 !important;
}

.results .result:hover {
  background: #191d24 !important;
}

.ui.search > .results .result .title {
  color: #d8cfbd;
}

.ui.search > .results .result.active .title {
  color: #d8cfbd;
}

runebook .ui.horizontal.divider {
  color: #bd9d5e;
}

.ui.top.attached.pointing.small.borderless.menu {
  background: #191d24;
  border-color: #bd9d5e;
}

.ui.top.attached.pointing.small.borderless.menu .item {
  color: #bd9d5e;
}

.ui.top.attached.pointing.small.borderless.menu .item.active {
  background: #121212;
  box-shadow: inset 1px 0px 0px 0px #bd9d5e, inset -1px 0px 0px 0px #bd9d5e;
  color: #d8cfbd;
}

.ui.top.attached.pointing.small.borderless.menu .item.active::after {
  background: #191d24 !important;
  border-bottom: 2px solid #bd9d5e !important;
  border-right: 2px solid #bd9d5e !important;
}

.ui.bottom.attached.tab.segment {
  background: #191d24;
  border-color: #bd9d5e;
}

chapters-segment .ui.active.inverted.dimmer {
  background: #191d24;
}

page-list ::-webkit-scrollbar-thumb {
  background: #71552b;
}

page-list ::-webkit-scrollbar-thumb:window-inactive {
  background: #71552b;
}

page-list ::-webkit-scrollbar-thumb:hover {
  background: #bd9d5e;
}

.ui.divided.list > .item {
  border-top: 1px solid #bd9d5e;
  color: #d8cfbd !important;
}

.row .header .icon {
  color: #00acb1;
}

.row .header .content {
  color: #d8cfbd;
}

.row .header .content .sub.header {
  color: #d8cfbd;
}

.ui.segment {
  background: #191d24;
  border: 1px solid #bd9d5e;
}

.ui.segment .header {
  color: #d8cfbd;
}

.middle.aligned.content .ui.header {
  color: #d8cfbd;
}

.ui.segment .header .sub.header {
  color: #d8cfbd;
}

current-page .ui.button {
  background: #71552b;
}

page-list .ui.button {
  background: #71552b;
}

current-page .ui.button:hover {
  background: #bd9d5e;
}

page-list .ui.button:hover {
  background: #bd9d5e;
}

current-page .ui.button:focus {
  background: #71552b;
}

page-list .ui.button:focus {
  background: #71552b;
}

current-page .ui.button:active {
  background: #bd9d5e;
}

page-list .ui.button:active {
  background: #bd9d5e;
}

.ui.popup {
  background: #121212;
  color: #d8cfbd;
  border: 1px solid #71552b;
}

.ui.popup::before {
  background: #121212 !important;
  border-bottom: 1px solid #71552b !important;
  border-right: 1px solid #71552b !important;
  box-shadow: none !important;
}

.ui.popup.bottom::before {
  background: #121212 !important;
  border-left: 1px solid #71552b !important;
  border-bottom: none !important;
  border-right: none !important;
  border-top: 1px solid #71552b !important;
  box-shadow: none !important;
}
